# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL
APP_URL="MY_APP_URL"

# SUPABASE
SUPABASE_URL=https://SEU-PROJETO.supabase.co
SUPABASE_ANON_KEY=SUA_CHAVE_ANON_AQUI
SUPABASE_SECRET_KEY=SUA_SECRET_KEY_AQUI